#title{
    background-color: #ff4c68;
    color: #fff;
}

h1{
    font-family: montserrat;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid{
    padding: 3% 15% 5%;
}



body{
    font-family: montserrat;
}
.navbar{
    padding-bottom: 4.5rem;
    padding-left: 0px;
}
.navbar-brand{
    font-family: Ubuntu ;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0px 18px;
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: montserrat;
}

.button{
    margin: 5% 3% 5% 0%;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right:35%;
}
@media (max-width: 1080px)
{
    .title-image
    {
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}

#features{
    text-align: center;
    margin-bottom: 3rem;
    padding:6% 15%;
    position: relative;
    background-color: #fff;

}

.feature{
    padding:2%;
    
}

h3{
    font-family: montserrat;
    font-weight: 900;
    font-size:1.5rem;
}

.color{
    color:#ef8172;
    font-size: 3.5rem;
    margin:10% 0px 5% 0px;
}
p{
    color: #8f8f8f;
}
.color:hover{
    color:#ff4c68;
}

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2{
    font-family: montserrat;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;

}

.testimonials-img{
    width:20%;
    border-radius: 100%;
    padding:20px;
}

#press{
    background-color: #ef8172;
    padding: 10px 10%;
    text-align: center;

}

.press-img{
    width: 20%;
    padding: 100px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;

}

#pricing{
    padding: 100px 185px;
    text-align: center;
}


.pricing-col{
    padding: 3% 2%;

}

.simple{
    padding: 2% 0;
}

#cta{
    background-color: #ff4c68;
    padding: 3% 15%;
    text-align: center;

}

.text-footer{
    font-family: montserrat;
    font-weight: 900;
    font-size: 3rem;
    padding:5% 5%;
    color: white;
    

}

#footer{
    padding: 10% 30%;
    text-align: center;
}

.icons-footer{
    padding:4% 2%;
    color: #000;
}

.copyright{
    margin-top: 2%;
}

